<a href="https://colab.research.google.com/github/Narendran36/CrossLog-Intelligent-Log-Analyzer/blob/main/Research%20Files/CrossLog_First.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
! ls drive/MyDrive/Dataset

csic  ecml

In [ ]:
! ls drive/MyDrive/Dataset/ecml

ecml.csv  learning_dataset.xml	xml_test.txt  xml_train.txt

In [ ]:
import pandas as pd

In [ ]:
d1 = pd.read_csv("drive/MyDrive/Dataset/ecml/ecml.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
c1 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAnomalies1.csv")
c2 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAnomalies2.csv")
c3 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks1.csv")
c4 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks2.csv")
c5 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks3.csv")
c6 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks4.csv")
c7 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks5.csv")
c8 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allNormals1.csv")

In [ ]:
d1

In [ ]:
d1 = d1[['ns1:type','ns1:method','ns1:uri','ns1:query','ns1:body']]

In [ ]:
d1

             ns1:type  ...                                           ns1:body
0               Valid  ...                                                NaN
1               Valid  ...                                                NaN
2               Valid  ...                                                NaN
3               Valid  ...                                                NaN
4               Valid  ...                                                NaN
...               ...  ...                                                ...
68264             NaN  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68266             NaN  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...
68268             NaN  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[68269 rows x 5 columns]

In [ ]:
d1 = d1.dropna(subset = ['ns1:type'])

In [ ]:
d1

             ns1:type  ...                                           ns1:body
0               Valid  ...                                                NaN
1               Valid  ...                                                NaN
2               Valid  ...                                                NaN
3               Valid  ...                                                NaN
4               Valid  ...                                                NaN
...               ...  ...                                                ...
68259  XPathInjection  ...  ZKoBqHa.HUu4=6&skpysshc=xIslndbueaa&vOtnlinrtc...
68261  XPathInjection  ...  lh9d=%25%5B&gnfahi=6&sTdliUUgbspoaR=lt0sd%27th...
68263  XPathInjection  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[52296 rows x 5 columns]

In [ ]:
d1['result'] = d1['ns1:query'].fillna('') + d1['ns1:body'].fillna('')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
d1

             ns1:type  ...                                             result
0               Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1               Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2               Valid  ...
3               Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4               Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...               ...  ...                                                ...
68259  XPathInjection  ...  ZKoBqHa.HUu4=6&skpysshc=xIslndbueaa&vOtnlinrtc...
68261  XPathInjection  ...  lh9d=%25%5B&gnfahi=6&sTdliUUgbspoaR=lt0sd%27th...
68263  XPathInjection  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[52296 rows x 6 columns]

In [ ]:
d1 = d1[['ns1:type','ns1:uri','result']]

In [ ]:
d1

             ns1:type  ...                                             result
0               Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1               Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2               Valid  ...
3               Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4               Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...               ...  ...                                                ...
68259  XPathInjection  ...  ZKoBqHa.HUu4=6&skpysshc=xIslndbueaa&vOtnlinrtc...
68261  XPathInjection  ...  lh9d=%25%5B&gnfahi=6&sTdliUUgbspoaR=lt0sd%27th...
68263  XPathInjection  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[52296 rows x 3 columns]

In [ ]:
d1.loc[d1['result']!='']

             ns1:type  ...                                             result
0               Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1               Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
3               Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4               Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
5               Valid  ...  seivste3c=804252514&Gxnc1atstirc3eR=eA&ioe9ogl...
...               ...  ...                                                ...
68259  XPathInjection  ...  ZKoBqHa.HUu4=6&skpysshc=xIslndbueaa&vOtnlinrtc...
68261  XPathInjection  ...  lh9d=%25%5B&gnfahi=6&sTdliUUgbspoaR=lt0sd%27th...
68263  XPathInjection  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[45247 rows x 3 columns]

In [ ]:
d1.rename(columns = {'ns1:type':'type','ns1:uri':'path','result':'query'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
d1

                 type  ...                                              query
0               Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1               Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2               Valid  ...
3               Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4               Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...               ...  ...                                                ...
68259  XPathInjection  ...  ZKoBqHa.HUu4=6&skpysshc=xIslndbueaa&vOtnlinrtc...
68261  XPathInjection  ...  lh9d=%25%5B&gnfahi=6&sTdliUUgbspoaR=lt0sd%27th...
68263  XPathInjection  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[52296 rows x 3 columns]

In [ ]:
from google.colab import files
d1.to_csv('ECML.csv') 
files.download('ECML.csv')

In [ ]:
c1

     author  ...       type
0      CSIC  ...  anomalous
1      CSIC  ...  anomalous
2      CSIC  ...  anomalous
3      CSIC  ...  anomalous
4      CSIC  ...  anomalous
...     ...  ...        ...
9995   CSIC  ...  anomalous
9996   CSIC  ...  anomalous
9997   CSIC  ...  anomalous
9998   CSIC  ...  anomalous
9999   CSIC  ...  anomalous

[10000 rows x 10 columns]

In [ ]:
c1 = c1[['type','path','query','body']]

In [ ]:
c1

           type  ...                                               body
0     anomalous  ...                                                NaN
1     anomalous  ...                                                NaN
2     anomalous  ...                                                NaN
3     anomalous  ...                                                NaN
4     anomalous  ...                                                NaN
...         ...  ...                                                ...
9995  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9996  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9997  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9998  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9999  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...

[10000 rows x 4 columns]

In [ ]:
c1['result'] = c1['query'].fillna('') + c1['body'].fillna('')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
c1

           type  ...                                             result
0     anomalous  ...
1     anomalous  ...
2     anomalous  ...
3     anomalous  ...
4     anomalous  ...                                               id=2
...         ...  ...                                                ...
9995  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9996  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9997  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9998  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9999  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...

[10000 rows x 5 columns]

In [ ]:
c1 = c1[['type','path','result']]

In [ ]:
c1

           type  ...                                             result
0     anomalous  ...
1     anomalous  ...
2     anomalous  ...
3     anomalous  ...
4     anomalous  ...                                               id=2
...         ...  ...                                                ...
9995  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9996  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9997  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9998  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9999  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...

[10000 rows x 3 columns]

In [ ]:
c1.rename(columns = {'result':'query'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
c1

           type  ...                                              query
0     anomalous  ...
1     anomalous  ...
2     anomalous  ...
3     anomalous  ...
4     anomalous  ...                                               id=2
...         ...  ...                                                ...
9995  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9996  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9997  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9998  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
9999  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...

[10000 rows x 3 columns]

In [ ]:
d1

                 type  ...                                              query
0               Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1               Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2               Valid  ...
3               Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4               Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...               ...  ...                                                ...
68259  XPathInjection  ...  ZKoBqHa.HUu4=6&skpysshc=xIslndbueaa&vOtnlinrtc...
68261  XPathInjection  ...  lh9d=%25%5B&gnfahi=6&sTdliUUgbspoaR=lt0sd%27th...
68263  XPathInjection  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[52296 rows x 3 columns]

In [ ]:
df = pd.concat([d1,c1]).reset_index(drop = True)

In [ ]:
df

            type  ...                                              query
0          Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1          Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2          Valid  ...
3          Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4          Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...          ...  ...                                                ...
62291  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
62292  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
62293  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
62294  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
62295  anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...

[62296 rows x 3 columns]

In [ ]:
c2

     author  ...       type
0      CSIC  ...  anomalous
1      CSIC  ...  anomalous
2      CSIC  ...  anomalous
3      CSIC  ...  anomalous
4      CSIC  ...  anomalous
...     ...  ...        ...
6454   CSIC  ...  anomalous
6455   CSIC  ...  anomalous
6456   CSIC  ...  anomalous
6457   CSIC  ...  anomalous
6458   CSIC  ...  anomalous

[6459 rows x 9 columns]

In [ ]:
c2 = c2[['type','path','body']]

In [ ]:
c2.rename(columns = {'body':'query'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
c2

           type  ...                                              query
0     anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
1     anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
2     anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
3     anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
4     anomalous  ...  modo=insertar&login=m5&password=m5&nombre=m&ap...
...         ...  ...                                                ...
6454  anomalous  ...  modo=entrar&login=m1&pwd=m1&remember=0n&B1=Entrar
6455  anomalous  ...  modo=entrar&login=m1&pwd=m1&remember=of1f&B1=E...
6456  anomalous  ...  modo=entrar&login=m1&pwd=m1&remember=o%2Cn&B1=...
6457  anomalous  ...  modo=entrar&login=m1&pwd=m1&remember=off%2C&B1...
6458  anomalous  ...    modo=entrar&login=m1&pwd=m1&remember=&B1=Entrar

[6459 rows x 3 columns]

In [ ]:
df = pd.concat([df,c2]).reset_index(drop = True)

In [ ]:
df

            type  ...                                              query
0          Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1          Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2          Valid  ...
3          Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4          Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...          ...  ...                                                ...
68750  anomalous  ...  modo=entrar&login=m1&pwd=m1&remember=0n&B1=Entrar
68751  anomalous  ...  modo=entrar&login=m1&pwd=m1&remember=of1f&B1=E...
68752  anomalous  ...  modo=entrar&login=m1&pwd=m1&remember=o%2Cn&B1=...
68753  anomalous  ...  modo=entrar&login=m1&pwd=m1&remember=off%2C&B1...
68754  anomalous  ...    modo=entrar&login=m1&pwd=m1&remember=&B1=Entrar

[68755 rows x 3 columns]

In [ ]:
c3

     author        name  ...    type attack
0      CSIC  Tienda2012  ...  attack   SQLi
1      CSIC  Tienda2012  ...  attack   SQLi
2      CSIC  Tienda2012  ...  attack   SQLi
3      CSIC  Tienda2012  ...  attack   SQLi
4      CSIC  Tienda2012  ...  attack   SQLi
...     ...         ...  ...     ...    ...
9995   CSIC  Tienda2012  ...  attack   SQLi
9996   CSIC  Tienda2012  ...  attack   SQLi
9997   CSIC  Tienda2012  ...  attack   SQLi
9998   CSIC  Tienda2012  ...  attack   SQLi
9999   CSIC  Tienda2012  ...  attack   SQLi

[10000 rows x 10 columns]

In [ ]:
c3 = c3[['attack','path','body']]

In [ ]:
c3['attack'] = 'SqlInjection'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
c3

            attack  ...                                               body
0     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
1     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
2     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=3416&rem...
3     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=3305&rem...
4     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
...            ...  ...                                                ...
9995  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9996  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9997  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9998  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9999  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....

[10000 rows x 3 columns]

In [ ]:
c3.rename(columns = {'attack':'type','body':'query'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
c3

              type  ...                                              query
0     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
1     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
2     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=3416&rem...
3     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=3305&rem...
4     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
...            ...  ...                                                ...
9995  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9996  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9997  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9998  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9999  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....

[10000 rows x 3 columns]

In [ ]:
df = pd.concat([df,c3]).reset_index(drop = True)

In [ ]:
df

               type  ...                                              query
0             Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1             Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2             Valid  ...
3             Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4             Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...             ...  ...                                                ...
78750  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
78751  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
78752  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
78753  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
78754  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....

[78755 rows x 3 columns]

In [ ]:
c4

     author        name  ...    type attack
0      CSIC  Tienda2012  ...  attack   SQLi
1      CSIC  Tienda2012  ...  attack   SQLi
2      CSIC  Tienda2012  ...  attack   SQLi
3      CSIC  Tienda2012  ...  attack   SQLi
4      CSIC  Tienda2012  ...  attack   SQLi
...     ...         ...  ...     ...    ...
9995   CSIC  Tienda2012  ...  attack   SQLi
9996   CSIC  Tienda2012  ...  attack   SQLi
9997   CSIC  Tienda2012  ...  attack   SQLi
9998   CSIC  Tienda2012  ...  attack   SQLi
9999   CSIC  Tienda2012  ...  attack   SQLi

[10000 rows x 10 columns]

In [ ]:
c4 = c4[['attack','path','body']]
c4['attack'] = 'SqlInjection'
c4.rename(columns = {'attack':'type','body':'query'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
c4

              type  ...                                              query
0     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
1     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
2     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
3     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
4     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
...            ...  ...                                                ...
9995  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9996  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9997  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9998  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
9999  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....

[10000 rows x 3 columns]

In [ ]:
df = pd.concat([df,c4]).reset_index(drop = True)

In [ ]:
df

               type  ...                                              query
0             Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1             Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2             Valid  ...
3             Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4             Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...             ...  ...                                                ...
88750  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
88751  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
88752  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
88753  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
88754  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....

[88755 rows x 3 columns]

In [ ]:
c5

     author        name  ...    type attack
0      CSIC  Tienda2012  ...  attack   SQLi
1      CSIC  Tienda2012  ...  attack   SQLi
2      CSIC  Tienda2012  ...  attack   SQLi
3      CSIC  Tienda2012  ...  attack   SQLi
4      CSIC  Tienda2012  ...  attack   SQLi
...     ...         ...  ...     ...    ...
9995   CSIC  Tienda2012  ...  attack   SQLi
9996   CSIC  Tienda2012  ...  attack   SQLi
9997   CSIC  Tienda2012  ...  attack   SQLi
9998   CSIC  Tienda2012  ...  attack   SQLi
9999   CSIC  Tienda2012  ...  attack   SQLi

[10000 rows x 10 columns]

In [ ]:
c5 = c5[['attack','path','body']]
c5['attack'] = 'SqlInjection'
c5.rename(columns = {'attack':'type','body':'query'}, inplace = True)
df = pd.concat([df,c5]).reset_index(drop = True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df

               type  ...                                              query
0             Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1             Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2             Valid  ...
3             Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4             Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...             ...  ...                                                ...
98750  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
98751  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
98752  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
98753  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
98754  SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....

[98755 rows x 3 columns]

In [ ]:
c6

     author        name     id  ...         query    type attack
0      CSIC  Tienda2012  30000  ...           NaN  attack   SQLi
1      CSIC  Tienda2012  30001  ...           NaN  attack   SQLi
2      CSIC  Tienda2012  30002  ...           NaN  attack   SQLi
3      CSIC  Tienda2012  30003  ...           NaN  attack   SQLi
4      CSIC  Tienda2012  30004  ...           NaN  attack   SQLi
...     ...         ...    ...  ...           ...     ...    ...
9995   CSIC  Tienda2012  39995  ...  id=d%27z%220  attack   SQLi
9996   CSIC  Tienda2012  39996  ...  id=d%27z%220  attack   SQLi
9997   CSIC  Tienda2012  39997  ...  id=d%27z%220  attack   SQLi
9998   CSIC  Tienda2012  39998  ...  id=d%27z%220  attack   SQLi
9999   CSIC  Tienda2012  39999  ...  id=d%27z%220  attack   SQLi

[10000 rows x 11 columns]

In [ ]:
c6['attack'] = 'SqlInjection'
c6 = c6[['attack','path','query','body']]
#c6['result'] = c6['query'].fillna('') + c6['body'].fillna('')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
c6

            attack  ...                                               body
0     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
1     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
2     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
3     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
4     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
...            ...  ...                                                ...
9995  SqlInjection  ...                                                NaN
9996  SqlInjection  ...                                                NaN
9997  SqlInjection  ...                                                NaN
9998  SqlInjection  ...                                                NaN
9999  SqlInjection  ...                                                NaN

[10000 rows x 4 columns]

In [ ]:
c6['result'] = c6['query'].fillna('') + c6['body'].fillna('')

In [ ]:
c6 = c6[['attack','path','result']]

In [ ]:
c6

            attack  ...                                             result
0     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
1     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
2     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
3     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
4     SqlInjection  ...  login=61%27%20OR%20%2761%27=%2761&pwd=FrAmE30....
...            ...  ...                                                ...
9995  SqlInjection  ...                                       id=d%27z%220
9996  SqlInjection  ...                                       id=d%27z%220
9997  SqlInjection  ...                                       id=d%27z%220
9998  SqlInjection  ...                                       id=d%27z%220
9999  SqlInjection  ...                                       id=d%27z%220

[10000 rows x 3 columns]

In [ ]:
c6.rename(columns = {'attack':'type','result':'query'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df = pd.concat([df,c6]).reset_index(drop = True)

In [ ]:
df

                type  ...                                              query
0              Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1              Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2              Valid  ...
3              Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4              Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...              ...  ...                                                ...
108750  SqlInjection  ...                                       id=d%27z%220
108751  SqlInjection  ...                                       id=d%27z%220
108752  SqlInjection  ...                                       id=d%27z%220
108753  SqlInjection  ...                                       id=d%27z%220
108754  SqlInjection  ...                                       id=d%27z%220

[108755 rows x 3 columns]

In [ ]:
c7

     author        name  ...    type attack
0      CSIC  Tienda2012  ...  attack   SQLi
1      CSIC  Tienda2012  ...  attack   SQLi
2      CSIC  Tienda2012  ...  attack   SQLi
3      CSIC  Tienda2012  ...  attack   SQLi
4      CSIC  Tienda2012  ...  attack   SQLi
...     ...         ...  ...     ...    ...
9306   CSIC  Tienda2012  ...  attack    XSS
9307   CSIC  Tienda2012  ...  attack    XSS
9308   CSIC  Tienda2012  ...  attack    XSS
9309   CSIC  Tienda2012  ...  attack    XSS
9310   CSIC  Tienda2012  ...  attack    XSS

[9311 rows x 11 columns]

In [ ]:
c7.loc[c7['attack']=='SQLi','attack'] = 'SqlInjection'

In [ ]:
c7

     author        name  ...    type        attack
0      CSIC  Tienda2012  ...  attack  SqlInjection
1      CSIC  Tienda2012  ...  attack  SqlInjection
2      CSIC  Tienda2012  ...  attack  SqlInjection
3      CSIC  Tienda2012  ...  attack  SqlInjection
4      CSIC  Tienda2012  ...  attack  SqlInjection
...     ...         ...  ...     ...           ...
9306   CSIC  Tienda2012  ...  attack           XSS
9307   CSIC  Tienda2012  ...  attack           XSS
9308   CSIC  Tienda2012  ...  attack           XSS
9309   CSIC  Tienda2012  ...  attack           XSS
9310   CSIC  Tienda2012  ...  attack           XSS

[9311 rows x 11 columns]

In [ ]:
c7.loc[c7['attack']=='SQLi','attack'] = 'SqlInjection'

In [ ]:
c7.loc[c7['attack']=='XPath','attack'] = 'XPathInjection'
c7.loc[c7['attack']=='LDAPi','attack'] = 'LdapInjection'

In [ ]:
c7

     author        name  ...    type        attack
0      CSIC  Tienda2012  ...  attack  SqlInjection
1      CSIC  Tienda2012  ...  attack  SqlInjection
2      CSIC  Tienda2012  ...  attack  SqlInjection
3      CSIC  Tienda2012  ...  attack  SqlInjection
4      CSIC  Tienda2012  ...  attack  SqlInjection
...     ...         ...  ...     ...           ...
9306   CSIC  Tienda2012  ...  attack           XSS
9307   CSIC  Tienda2012  ...  attack           XSS
9308   CSIC  Tienda2012  ...  attack           XSS
9309   CSIC  Tienda2012  ...  attack           XSS
9310   CSIC  Tienda2012  ...  attack           XSS

[9311 rows x 11 columns]

In [ ]:
c7['result'] = c7['query'].fillna('') + c7['body'].fillna('')
c7 = c7[['attack','path','result']]
c7.rename(columns = {'attack':'type','result':'query'}, inplace = True)
c7

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

              type  ...                                              query
0     SqlInjection  ...                                       id=d%27z%220
1     SqlInjection  ...                                       id=d%27z%220
2     SqlInjection  ...                                       id=d%27z%220
3     SqlInjection  ...                                       id=d%27z%220
4     SqlInjection  ...                                       id=d%27z%220
...            ...  ...                                                ...
9306           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...
9307           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...
9308           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...
9309           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...
9310           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...

[9311 rows x 3 columns]

In [ ]:
df = pd.concat([df,c7]).reset_index(drop = True)

In [ ]:
c8

     author  ...    type
0      CSIC  ...  normal
1      CSIC  ...  normal
2      CSIC  ...  normal
3      CSIC  ...  normal
4      CSIC  ...  normal
...     ...  ...     ...
8358   CSIC  ...  normal
8359   CSIC  ...  normal
8360   CSIC  ...  normal
8361   CSIC  ...  normal
8362   CSIC  ...  normal

[8363 rows x 10 columns]

In [ ]:
c8['type'] = 'Valid'
c8['result'] = c8['query'].fillna('') + c8['body'].fillna('')
c8 = c8[['type','path','result']]
c8.rename(columns = {'result':'query'}, inplace = True)
c8

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       type  ...                                              query
0     Valid  ...
1     Valid  ...
2     Valid  ...                                               id=3
3     Valid  ...
4     Valid  ...                                               id=2
...     ...  ...                                                ...
8358  Valid  ...  modo=registro&login=m4&password=8CA63951&nombr...
8359  Valid  ...  modo=registro&login=m4&password=acalugar&nombr...
8360  Valid  ...  modo=registro&login=m4&password=ACalUMNIadoR&n...
8361  Valid  ...  modo=registro&login=m4&password=acalumniadora&...
8362  Valid  ...  modo=registro&login=m4&password=a95m43l8da&nom...

[8363 rows x 3 columns]

In [ ]:
df = pd.concat([df,c8]).reset_index(drop = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126429 entries, 0 to 126428
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   type    126429 non-null  object
 1   path    126429 non-null  object
 2   query   126429 non-null  object
dtypes: object(3)
memory usage: 2.9+ MB

In [ ]:
df.groupby(['type']).count()

                  path  query
type
BufferOverflow     412    412
CRLFi              327    327
FormatString        41     41
LdapInjection     2353   2353
OsCommanding      3420   3420
PathTransversal   3029   3029
SSI               2349   2349
SqlInjection     45573  45573
Valid            43369  43369
XPathInjection    2454   2454
XSS               6643   6643
anomalous        16459  16459

In [ ]:
r_df = df.loc[((df['type']!='BufferOverflow') & (df['type']!='FormatString'))]

In [ ]:
r_df.groupby(['type']).count()

                  path  query
type
CRLFi              327    327
LdapInjection     2353   2353
OsCommanding      3420   3420
PathTransversal   3029   3029
SSI               2349   2349
SqlInjection     45573  45573
Valid            43369  43369
XPathInjection    2454   2454
XSS               6643   6643
anomalous        16459  16459

In [ ]:
r_df.loc[r_df['type']=='OsCommanding','type'] = 'OS'
r_df.loc[r_df['type']=='LdapInjection','type'] = 'LDAPi'
r_df.loc[r_df['type']=='SqlInjection','type'] = 'SQLi'
r_df.loc[r_df['type']=='PathTransversal','type'] = 'PT'
r_df.loc[r_df['type']=='XPathInjection','type'] = 'XPath'

In [ ]:
r_df.groupby(['type']).count()

            path  query
type
CRLFi        327    327
LDAPi       2353   2353
OS          3420   3420
PT          3029   3029
SQLi       45573  45573
SSI         2349   2349
Valid      43369  43369
XPath       2454   2454
XSS         6643   6643
anomalous  16459  16459

In [ ]:
r_df.to_csv('final_dataset.csv')

cp: cannot stat 'data.csv': No such file or directory

In [ ]:
! ls

drive  ECML.csv  final_dataset.csv  sample_data

In [ ]:
!cp final_dataset.csv "drive/My Drive/"

In [ ]:
r_df

         type  ...                                              query
0       Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1       Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2       Valid  ...
3       Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4       Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...       ...  ...                                                ...
126424  Valid  ...  modo=registro&login=m4&password=8CA63951&nombr...
126425  Valid  ...  modo=registro&login=m4&password=acalugar&nombr...
126426  Valid  ...  modo=registro&login=m4&password=ACalUMNIadoR&n...
126427  Valid  ...  modo=registro&login=m4&password=acalumniadora&...
126428  Valid  ...  modo=registro&login=m4&password=a95m43l8da&nom...

[125976 rows x 3 columns]