<a href="https://colab.research.google.com/github/Narendran36/CrossLog-Intelligent-Log-Analyzer/blob/main/Research%20Files/CrossLog_Model_Datasets3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("drive/MyDrive/stage.csv")

In [ ]:
df = df[['type','url']]

In [ ]:
df['label'] = 0

In [ ]:
df.groupby(['type']).count()

             url  label
type
CRLFi        327    327
LDAPi       2353   2353
OS          3420   3420
PT          3029   3029
SQLi       45573  45573
SSI         2349   2349
Valid      43369  43369
XPath       2454   2454
XSS         6643   6643
anomalous  16459  16459

In [ ]:
df.loc[df['type']=='PT','label'] = 1

In [ ]:
df[df['type']=='PT']

      type                                                url  label
35972   PT  /jFlGYRSYPARBHoPbHj/4AT/b8e4ttsysw/EaweeIs/vxV...      1
35974   PT  /a75u/dotrgo84t/sUks6Ejsg/r.oFlP3cu6.tiff?omrr...      1
35976   PT  /gxtermDGurrJhYdocumentYS/x0w/sbe/chavingx3Jps...      1
35978   PT  /tsyOstv3eehajoquB3u/L@r/ss2oqdstI/ezeiddTeEhs...      1
35980   PT  /tDt/kreIQ1nTBDBCtNNI/rzd/emwar8sshtktis9/sDNm...      1
...    ...                                                ...    ...
48642   PT  /lpn60gmeOE6/Q8_a4-gandnU3/ioam5nSrebreOf6o/bn...      1
48643   PT  /r4divI98Is0R-BT4/iupkiPiInI.BG7zZ@s/fRURZTsTM...      1
48644   PT  /ERAMw2z/X_mgZkTSC6Jv./t1re9niTfyfn5Rsh5hao.pl...      1
48645   PT  /aiw/3sjaycvd/lfMKMYphZZzJ54vV/tn4eZHFYd1MVXs/...      1
48646   PT  /UeAYeakestdinW0/ewRuDYrb.gif?shtaccesn1eholib...      1

[3029 rows x 3 columns]

In [ ]:
from urllib.parse import unquote

In [ ]:
df = df.fillna('NULL')

In [ ]:
def url_parse(query):
    query = unquote(query)
    return query

In [ ]:
def newremove(statement):
  return statement.replace('\n','')

In [ ]:
df['url'] = df['url'].apply(url_parse)
df['url'] = df['url'].apply(url_parse)
df['url'] = df['url'].apply(url_parse)
df['url'] = df['url'].apply(url_parse)
df['url'] = df['url'].apply(newremove)

In [ ]:
df['url'] = df['url'].str.lower()

In [ ]:
mylist = list()

In [ ]:
ch = input()
while(ch != '@@@@@'):
    mylist.append(ch)
    ch = input()

../
..\\
etc
passwd
\\.
\\/
./
/
:
//
:/
system
ini
..
exec
:\\
%00
.bat
file
windows
boot
winnt
.conf
access
log
,,
@@@@@

In [ ]:
mylist

['../',
 '..\\\\',
 'etc',
 'passwd',
 '\\\\.',
 '\\\\/',
 './',
 '/',
 ':',
 '//',
 ':/',
 'system',
 'ini',
 '..',
 'exec',
 ':\\\\',
 '%00',
 '.bat',
 'file',
 'windows',
 'boot',
 'winnt',
 '.conf',
 'access',
 'log',
 ',,']

In [ ]:
L = set(mylist)

In [ ]:
len(L)

26

In [ ]:
for l in L:
  df[l] = 0

In [ ]:
def generate(statement,col):
    if col in str(statement):
        return 1
    else:
        return 0

In [ ]:
for col in L:
  df[col] = df['url'].apply(generate, col=col)

In [ ]:
df

         type                                                url  ...  access  ,,
0       Valid  /l_t@/_feu1wvhtpass2/1nieqnnrvnzktuasain/tg1ar...  ...       0   0
1       Valid  /inssgtz7ieltdsstbw7e/neqhmsdwu7imdb0etet/et/h...  ...       0   0
2       Valid                  /fonrnt/7n.d-4brssxb@tu/qghew.cfm  ...       0   0
3       Valid  /dyylkl.xd9cpu/4ot0ta/ts6xnrp1/hssh/a2cuerht/s...  ...       0   0
4       Valid  /2m6vlb1r37jspc/cwvv/mbar/oqrd0/msc/etceebwgi/...  ...       0   0
...       ...                                                ...  ...     ...  ..
125971  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...       0   0
125972  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...       0   0
125973  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...       0   0
125974  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...       0   0
125975  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...       0   0

[125976 rows x 29 columns]

In [ ]:
df.to_csv('final_PT.csv')
!cp final_PT.csv "drive/My Drive/"

In [ ]:
mylist = list()

In [ ]:
df = pd.read_csv("drive/MyDrive/stage.csv")

In [ ]:
df

        Unnamed: 0   type                                                url
0                0  Valid  /l_t@/_Feu1wvhtpass2/1nieQnnrvnzktuasain/tg1AR...
1                1  Valid  /inssgtz7ieltdSstbw7e/neQhmsdwu7imdb0etet/eT/h...
2                2  Valid                  /fonRnt/7N.D-4BRSsXb@TU/qgheW.cfm
3                3  Valid  /dyylkL.XD9cPu/4Ot0ta/ts6xNrP1/hssh/a2cuerht/s...
4                4  Valid  /2m6VLb1r37jSPC/cWVv/Mbar/oqrd0/msc/etceebwgi/...
...            ...    ...                                                ...
125971      125971  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125972      125972  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125973      125973  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125974      125974  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125975      125975  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...

[125976 rows x 3 columns]

In [ ]:
df = df[['type','url']]

In [ ]:
df

         type                                                url
0       Valid  /l_t@/_Feu1wvhtpass2/1nieQnnrvnzktuasain/tg1AR...
1       Valid  /inssgtz7ieltdSstbw7e/neQhmsdwu7imdb0etet/eT/h...
2       Valid                  /fonRnt/7N.D-4BRSsXb@TU/qgheW.cfm
3       Valid  /dyylkL.XD9cPu/4Ot0ta/ts6xNrP1/hssh/a2cuerht/s...
4       Valid  /2m6VLb1r37jSPC/cWVv/Mbar/oqrd0/msc/etceebwgi/...
...       ...                                                ...
125971  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125972  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125973  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125974  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125975  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...

[125976 rows x 2 columns]

In [ ]:
df['label'] = 0

In [ ]:
df.loc[df['type']=='SSI','label'] = 1

In [ ]:
df

         type                                                url  label
0       Valid  /l_t@/_Feu1wvhtpass2/1nieQnnrvnzktuasain/tg1AR...      0
1       Valid  /inssgtz7ieltdSstbw7e/neQhmsdwu7imdb0etet/eT/h...      0
2       Valid                  /fonRnt/7N.D-4BRSsXb@TU/qgheW.cfm      0
3       Valid  /dyylkL.XD9cPu/4Ot0ta/ts6xNrP1/hssh/a2cuerht/s...      0
4       Valid  /2m6VLb1r37jSPC/cWVv/Mbar/oqrd0/msc/etceebwgi/...      0
...       ...                                                ...    ...
125971  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...      0
125972  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...      0
125973  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...      0
125974  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...      0
125975  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...      0

[125976 rows x 3 columns]

In [ ]:
df = df.fillna('NULL')

In [ ]:
def nplusreplace(statement):
  x = statement.replace('\n',' ')
  return x.replace('+',' ')

In [ ]:
def whiteremove(statement):
  return statement.replace(' ','')

In [ ]:
df['url'] = df['url'].apply(url_parse)
df['url'] = df['url'].apply(newremove)
df['url'] = df['url'].apply(whiteremove)
df['url'] = df['url'].apply(nplusreplace)

In [ ]:
df['url'] = df['url'].str.lower()

In [ ]:
mylist

[]

In [ ]:
ch = input()
while(ch != '@@@@@'):
    mylist.append(ch)
    ch = input()

<!-
-->
#
+
,
"
etc/
/passwd
dir
#exec
cmd
fromhost
email
odbc
#include
virtual
bin/
toaddress
message
replyto
sender
#echo
httpd
access.log
var
+connect
date_gmt
+statement
log/
/mail
"mail
"id
+id
.bat
ls+
home/
winnt\\
system.ini
.conf
+-l
windows
.conf
.com
:\\
@@@@@

In [ ]:
L = set(mylist)

In [ ]:
for l in L:
  df[l] = 0

In [ ]:
for col in L:
  df[col] = df['url'].apply(generate, col=col)

In [ ]:
df.to_csv('final_SSI.csv')
!cp final_SSI.csv "drive/My Drive/"