In [1]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
! ls drive/MyDrive/Dataset

csic  ecml

In [4]:
! ls drive/MyDrive/Dataset/ecml

ecml.csv  learning_dataset.xml	xml_test.txt  xml_train.txt

In [5]:
import pandas as pd

In [6]:
d1 = pd.read_csv("drive/MyDrive/Dataset/ecml/ecml.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
c1 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAnomalies1.csv")
c2 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAnomalies2.csv")
c3 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks1.csv")
c4 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks2.csv")
c5 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks3.csv")
c6 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks4.csv")
c7 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allAttacks5.csv")
c8 = pd.read_csv("drive/MyDrive/Dataset/csic/csv/allNormals1.csv")

In [8]:
d1 = d1[['ns1:type','ns1:method','ns1:uri','ns1:query','ns1:body']]

In [9]:
d1 = d1.dropna(subset = ['ns1:type'])

In [10]:
d1['result'] = d1['ns1:query'].fillna('') + d1['ns1:body'].fillna('')

In [11]:
d1 = d1[['ns1:type','ns1:uri','result']]

In [12]:
d1.loc[d1['result']!='']

             ns1:type  ...                                             result
0               Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1               Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
3               Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4               Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
5               Valid  ...  seivste3c=804252514&Gxnc1atstirc3eR=eA&ioe9ogl...
...               ...  ...                                                ...
68259  XPathInjection  ...  ZKoBqHa.HUu4=6&skpysshc=xIslndbueaa&vOtnlinrtc...
68261  XPathInjection  ...  lh9d=%25%5B&gnfahi=6&sTdliUUgbspoaR=lt0sd%27th...
68263  XPathInjection  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[45247 rows x 3 columns]

In [13]:
d1.rename(columns = {'ns1:type':'type','ns1:uri':'path','result':'query'}, inplace = True)

In [14]:
d1

                 type  ...                                              query
0               Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1               Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2               Valid  ...
3               Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4               Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...               ...  ...                                                ...
68259  XPathInjection  ...  ZKoBqHa.HUu4=6&skpysshc=xIslndbueaa&vOtnlinrtc...
68261  XPathInjection  ...  lh9d=%25%5B&gnfahi=6&sTdliUUgbspoaR=lt0sd%27th...
68263  XPathInjection  ...  aufmbsAiabei=o7&e7isivpz=32&Oe67waox9yeea1d=so...
68265  XPathInjection  ...  uzo4fth7tvcegn=%5Buitt+hhlref3e&eloYkmctHrIl5n...
68267  XPathInjection  ...  g9PEXY3=66425&NdNgiTnvssr=tDH1F-&eewt84eIey=R+...

[52296 rows x 3 columns]

In [15]:
from google.colab import files
d1.to_csv('ECML.csv') 
files.download('ECML.csv')

In [16]:
c1 = c1[['type','path','query','body']]

In [17]:
c1['result'] = c1['query'].fillna('') + c1['body'].fillna('')

In [18]:
c1 = c1[['type','path','result']]

In [19]:
c1.rename(columns = {'result':'query'}, inplace = True)

In [20]:
df = pd.concat([d1,c1]).reset_index(drop = True)

In [21]:
c2 = c2[['type','path','body']]

In [22]:
c2.rename(columns = {'body':'query'}, inplace = True)

In [23]:
df = pd.concat([df,c2]).reset_index(drop = True)

In [24]:
c3 = c3[['attack','path','body']]

In [25]:
c3['attack'] = 'SqlInjection'

In [26]:
c3.rename(columns = {'attack':'type','body':'query'}, inplace = True)

In [27]:
df = pd.concat([df,c3]).reset_index(drop = True)

In [28]:
c4 = c4[['attack','path','body']]
c4['attack'] = 'SqlInjection'
c4.rename(columns = {'attack':'type','body':'query'}, inplace = True)

In [29]:
df = pd.concat([df,c4]).reset_index(drop = True)

In [30]:
c5 = c5[['attack','path','body']]
c5['attack'] = 'SqlInjection'
c5.rename(columns = {'attack':'type','body':'query'}, inplace = True)
df = pd.concat([df,c5]).reset_index(drop = True)

In [31]:
c6['attack'] = 'SqlInjection'
c6 = c6[['attack','path','query','body']]
#c6['result'] = c6['query'].fillna('') + c6['body'].fillna('')

In [32]:
c6['result'] = c6['query'].fillna('') + c6['body'].fillna('')

In [33]:
c6 = c6[['attack','path','result']]

In [34]:
c6.rename(columns = {'attack':'type','result':'query'}, inplace = True)

In [35]:
df = pd.concat([df,c6]).reset_index(drop = True)

In [36]:
c7.loc[c7['attack']=='SQLi','attack'] = 'SqlInjection'

In [37]:
c7.loc[c7['attack']=='XPath','attack'] = 'XPathInjection'
c7.loc[c7['attack']=='LDAPi','attack'] = 'LdapInjection'

In [38]:
c7['result'] = c7['query'].fillna('') + c7['body'].fillna('')
c7 = c7[['attack','path','result']]
c7.rename(columns = {'attack':'type','result':'query'}, inplace = True)
c7

              type  ...                                              query
0     SqlInjection  ...                                       id=d%27z%220
1     SqlInjection  ...                                       id=d%27z%220
2     SqlInjection  ...                                       id=d%27z%220
3     SqlInjection  ...                                       id=d%27z%220
4     SqlInjection  ...                                       id=d%27z%220
...            ...  ...                                                ...
9306           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...
9307           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...
9308           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...
9309           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...
9310           XSS  ...  modo=registro&login=pepe&password=pepe&nombre=...

[9311 rows x 3 columns]

In [39]:
df = pd.concat([df,c7]).reset_index(drop = True)

In [40]:
c8['type'] = 'Valid'
c8['result'] = c8['query'].fillna('') + c8['body'].fillna('')
c8 = c8[['type','path','result']]
c8.rename(columns = {'result':'query'}, inplace = True)
c8

       type  ...                                              query
0     Valid  ...
1     Valid  ...
2     Valid  ...                                               id=3
3     Valid  ...
4     Valid  ...                                               id=2
...     ...  ...                                                ...
8358  Valid  ...  modo=registro&login=m4&password=8CA63951&nombr...
8359  Valid  ...  modo=registro&login=m4&password=acalugar&nombr...
8360  Valid  ...  modo=registro&login=m4&password=ACalUMNIadoR&n...
8361  Valid  ...  modo=registro&login=m4&password=acalumniadora&...
8362  Valid  ...  modo=registro&login=m4&password=a95m43l8da&nom...

[8363 rows x 3 columns]

In [41]:
df = pd.concat([df,c8]).reset_index(drop = True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126429 entries, 0 to 126428
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   type    126429 non-null  object
 1   path    126429 non-null  object
 2   query   126429 non-null  object
dtypes: object(3)
memory usage: 2.9+ MB

In [43]:
df.groupby(['type']).count()

                  path  query
type
BufferOverflow     412    412
CRLFi              327    327
FormatString        41     41
LdapInjection     2353   2353
OsCommanding      3420   3420
PathTransversal   3029   3029
SSI               2349   2349
SqlInjection     45573  45573
Valid            43369  43369
XPathInjection    2454   2454
XSS               6643   6643
anomalous        16459  16459

In [44]:
r_df = df

In [45]:
r_df.groupby(['type']).count()

                  path  query
type
BufferOverflow     412    412
CRLFi              327    327
FormatString        41     41
LdapInjection     2353   2353
OsCommanding      3420   3420
PathTransversal   3029   3029
SSI               2349   2349
SqlInjection     45573  45573
Valid            43369  43369
XPathInjection    2454   2454
XSS               6643   6643
anomalous        16459  16459

In [46]:
r_df.loc[r_df['type']=='OsCommanding','type'] = 'OS'
r_df.loc[r_df['type']=='LdapInjection','type'] = 'LDAPi'
r_df.loc[r_df['type']=='SqlInjection','type'] = 'SQLi'
r_df.loc[r_df['type']=='PathTransversal','type'] = 'PT'
r_df.loc[r_df['type']=='XPathInjection','type'] = 'XPath'
r_df.loc[r_df['type']=='FormatString','type'] = 'FS'
r_df.loc[r_df['type']=='BufferOverflow','type'] = 'BO'

In [47]:
r_df.groupby(['type']).count()

            path  query
type
BO           412    412
CRLFi        327    327
FS            41     41
LDAPi       2353   2353
OS          3420   3420
PT          3029   3029
SQLi       45573  45573
SSI         2349   2349
Valid      43369  43369
XPath       2454   2454
XSS         6643   6643
anomalous  16459  16459

In [48]:
r_df.to_csv('final_dataset.csv')

In [49]:
! ls

drive  ECML.csv  final_dataset.csv  sample_data

In [50]:
!cp final_dataset.csv "drive/My Drive/"

In [51]:
r_df

         type  ...                                              query
0       Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1       Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2       Valid  ...
3       Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4       Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...       ...  ...                                                ...
126424  Valid  ...  modo=registro&login=m4&password=8CA63951&nombr...
126425  Valid  ...  modo=registro&login=m4&password=acalugar&nombr...
126426  Valid  ...  modo=registro&login=m4&password=ACalUMNIadoR&n...
126427  Valid  ...  modo=registro&login=m4&password=acalumniadora&...
126428  Valid  ...  modo=registro&login=m4&password=a95m43l8da&nom...

[126429 rows x 3 columns]

In [52]:
df = pd.read_csv("drive/MyDrive/final_dataset.csv")

In [53]:
df = df[['type','path','query']]

In [54]:
df.loc[~df['query'].isnull(),'result'] = df.loc[~df['query'].isnull(),'path'].fillna('') + '?' + df.loc[~df['query'].isnull(),'query'].fillna('')

In [55]:
df.loc[df['query'].isnull(),'result'] = df.loc[df['query'].isnull(),'path'].fillna('')# + '?' + df.loc[~df['query'].isnull(),'query'].fillna('')

In [56]:
df = df[['type','result']]

In [57]:
df.rename(columns = {'result':'url'}, inplace = True)

In [58]:
df.isnull().sum()

type    0
url     0
dtype: int64

In [59]:
df.to_csv('stage.csv')

In [60]:
!cp stage.csv "drive/My Drive/"

In [61]:
df = pd.read_csv("drive/MyDrive/stage.csv")

In [62]:
df = df[['type','url']]

In [63]:
df['label'] = 0

In [64]:
df.loc[df['type']=='FS','label'] = 1

In [65]:
df = df.fillna('NULL')

In [66]:
from urllib.parse import unquote

In [67]:
def url_parse(query):
    query = unquote(query)
    return query

In [68]:
def newremove(statement):
  return statement.replace('\n','')

In [70]:
df['url'] = df['url'].apply(url_parse)
df['url'] = df['url'].apply(url_parse)
df['url'] = df['url'].apply(newremove)

In [71]:
df['url'] = df['url'].str.lower()

In [72]:
mylist = list()

In [73]:
ch = input()
while(ch != '@@@@@'):
    mylist.append(ch)
    ch = input()

%%
%p
%d
%c
%u
%x
%s
%n
@@@@@

In [99]:
mylist

['%%', '%p', '%d', '%c', '%u', '%x', '%s', '%n']

In [75]:
L = set(mylist)

In [76]:
for l in L:
  df[l] = 0

In [79]:
def generate(statement,col):
    text = str(statement)
    return text.count(col)

In [80]:
for col in L:
  df[col] = df['url'].apply(generate, col=col)

In [86]:
df.to_csv('final_FS.csv')
!cp final_FS.csv "drive/My Drive/"

In [88]:
df = pd.read_csv("drive/MyDrive/final_FS.csv")
df = df.dropna()
del df['Unnamed: 0']

In [89]:
df

         type                                                url  ...   %u   %n
0       Valid  /l_t@/_feu1wvhtpass2/1nieqnnrvnzktuasain/tg1ar...  ...  0.0  0.0
1       Valid  /inssgtz7ieltdsstbw7e/neqhmsdwu7imdb0etet/et/h...  ...  0.0  0.0
2       Valid                  /fonrnt/7n.d-4brssxb@tu/qghew.cfm  ...  0.0  0.0
3       Valid  /dyylkl.xd9cpu/4ot0ta/ts6xnrp1/hssh/a2cuerht/s...  ...  1.0  0.0
4       Valid  /2m6vlb1r37jspc/cwvv/mbar/oqrd0/msc/etceebwgi/...  ...  0.0  0.0
...       ...                                                ...  ...  ...  ...
126599  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...  0.0  0.0
126600  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...  0.0  0.0
126601  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...  0.0  0.0
126602  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...  0.0  0.0
126603  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...  ...  0.0  0.0

[126322 rows x 11 columns]

In [90]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import metrics

X = list(df.columns[3:])
X_df = df[X]
Y_df = df['label']
X_train, X_test, Y_train, Y_test = train_test_split(X_df, Y_df, test_size=0.2, random_state=0)

In [91]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(X_train,Y_train)

print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(LR.score(X_train, Y_train)))
print('Accuracy of Logistic Regression classifier on test set: {:.2f}'
     .format(LR.score(X_test, Y_test)))

print()
Y_pred = LR.predict(X_test)
print(confusion_matrix(Y_test, Y_pred))
print()
metrics.accuracy_score(Y_test, Y_pred)

Accuracy of Logistic Regression classifier on training set: 1.00
Accuracy of Logistic Regression classifier on test set: 1.00

[[25256     0]
 [    4     5]]

0.9998416782109638

In [93]:
from sklearn import svm

SVM = svm.LinearSVC()
SVM.fit(X_train,Y_train)

print('Accuracy of Linear SVM classifier on training set: {:.2f}'.format(SVM.score(X_train, Y_train)))
print('Accuracy of Linear SVM classifier on test set: {:.2f}'.format(SVM.score(X_test, Y_test)))
 
print()
Y_pred = SVM.predict(X_test)
print(confusion_matrix(Y_test, Y_pred))
print()
metrics.accuracy_score(Y_test, Y_pred)

Accuracy of Linear SVM classifier on training set: 1.00
Accuracy of Linear SVM classifier on test set: 1.00

[[25256     0]
 [    4     5]]

0.9998416782109638

In [94]:
from sklearn.ensemble import GradientBoostingClassifier

GB = GradientBoostingClassifier(random_state=0)
GB.fit(X_train, Y_train)

print('Accuracy of Gradient Boosting classifier on training set: {:.2f}'
     .format(GB.score(X_train, Y_train)))
print('Accuracy of Gradient Boosting classifier on test set: {:.2f}'
     .format(GB.score(X_test, Y_test)))

print()
Y_pred = GB.predict(X_test)
print(confusion_matrix(Y_test, Y_pred))
print()
metrics.accuracy_score(Y_test, Y_pred)

Accuracy of Gradient Boosting classifier on training set: 1.00
Accuracy of Gradient Boosting classifier on test set: 1.00

[[25256     0]
 [    4     5]]

0.9998416782109638

In [95]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()
DT.fit(X_train,Y_train)

print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(DT.score(X_train, Y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(DT.score(X_test, Y_test)))

print()
Y_pred = DT.predict(X_test)
print(confusion_matrix(Y_test, Y_pred))
print()
metrics.accuracy_score(Y_test, Y_pred)

Accuracy of Decision Tree classifier on training set: 1.00
Accuracy of Decision Tree classifier on test set: 1.00

[[25256     0]
 [    4     5]]

0.9998416782109638

In [96]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier(n_neighbors = 5)
KNN.fit(X_train, Y_train)

print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(KNN.score(X_train, Y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(KNN.score(X_test, Y_test)))

print()
Y_pred = KNN.predict(X_test)
print(confusion_matrix(Y_test, Y_pred))
print()
metrics.accuracy_score(Y_test, Y_pred)

Accuracy of K-NN classifier on training set: 1.00
Accuracy of K-NN classifier on test set: 1.00

[[25256     0]
 [    4     5]]

0.9998416782109638

In [97]:

from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier()
RF.fit(X_train,Y_train)

print('Accuracy of Random Forest classifier on training set: {:.2f}'
     .format(RF.score(X_train, Y_train)))
print('Accuracy of Random Forest classifier on test set: {:.2f}'
     .format(RF.score(X_test, Y_test)))

print()
Y_pred = RF.predict(X_test)
print(confusion_matrix(Y_test, Y_pred))
print()
metrics.accuracy_score(Y_test, Y_pred)

Accuracy of Random Forest classifier on training set: 1.00
Accuracy of Random Forest classifier on test set: 1.00

[[25256     0]
 [    4     5]]

0.9998416782109638

In [98]:
import pickle
filename = 'FS.sav'                                           #Edit this
pickle.dump(LR, open(filename, 'wb'))                         #Change GB if needed
#loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(X_test, Y_test)
#print(result)
!cp FS.sav "drive/My Drive/MODEL"                             # replace OS.sav with file name

In [102]:
temp = df[df['type'] == 'FS']

In [106]:
temp['url'][110232]

'/tienda1/publico/pagar.jsp?precio=%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n%n'