<a href="https://colab.research.google.com/github/Narendran36/CrossLog-Intelligent-Log-Analyzer/blob/main/Research%20Files/CrossLog_Preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive 
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("drive/MyDrive/final_dataset.csv")

In [ ]:
df = df[['type','path','query']]

In [ ]:
df

         type  ...                                              query
0       Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1       Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2       Valid  ...                                                NaN
3       Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4       Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...
...       ...  ...                                                ...
125971  Valid  ...  modo=registro&login=m4&password=8CA63951&nombr...
125972  Valid  ...  modo=registro&login=m4&password=acalugar&nombr...
125973  Valid  ...  modo=registro&login=m4&password=ACalUMNIadoR&n...
125974  Valid  ...  modo=registro&login=m4&password=acalumniadora&...
125975  Valid  ...  modo=registro&login=m4&password=a95m43l8da&nom...

[125976 rows x 3 columns]

In [ ]:
df.groupby(['type']).count()

            path  query
type
CRLFi        327    327
LDAPi       2353   2306
OS          3420   3078
PT          3029   2699
SQLi       45573  45517
SSI         2349   2296
Valid      43369  37178
XPath       2454   2403
XSS         6643   6502
anomalous  16459  16361

In [ ]:
refer: https://medium.com/@dhiraj.sanju/decode-urls-using-pandas-and-urllib-in-python-3ef355a78826

In [ ]:
df.head()

    type  ...                                              query
0  Valid  ...  crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3...
1  Valid  ...  Settotzeertnl=%27pn+&8nafitm=74LuKUC5t0J&4ttNe...
2  Valid  ...                                                NaN
3  Valid  ...  DFDi7ftp=37redocumentilN&l4setbemmo=oe_RDzQ&rt...
4  Valid  ...  upcthyrsrtztir=90&o@gCv=uy&l6=S4&nrtrzevjgah=3...

[5 rows x 3 columns]

In [ ]:
df.loc[~df['query'].isnull(),'result'] = df.loc[~df['query'].isnull(),'path'].fillna('') + '?' + df.loc[~df['query'].isnull(),'query'].fillna('')

In [ ]:
df

         type  ...                                             result
0       Valid  ...  /l_t@/_Feu1wvhtpass2/1nieQnnrvnzktuasain/tg1AR...
1       Valid  ...  /inssgtz7ieltdSstbw7e/neQhmsdwu7imdb0etet/eT/h...
2       Valid  ...                                                NaN
3       Valid  ...  /dyylkL.XD9cPu/4Ot0ta/ts6xNrP1/hssh/a2cuerht/s...
4       Valid  ...  /2m6VLb1r37jSPC/cWVv/Mbar/oqrd0/msc/etceebwgi/...
...       ...  ...                                                ...
125971  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...
125972  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...
125973  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...
125974  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...
125975  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...

[125976 rows x 4 columns]

In [ ]:
df['result'][0]

'/l_t@/_Feu1wvhtpass2/1nieQnnrvnzktuasain/tg1ARIfG_oNC_d/ms/o1xRytTk34/oVkR_D8Zz/dWVCNK7AQ-m1CRGy_/zYHrk2P0brDP/oe/pYYxRGgNhIk2N1tWiI.png?crTeYreti=wsn&et3tf6shoV=tdsviee+y+fum%24oh3%3Bore&sAib5hfAvhEpC=tcilbrr+Lne'

In [ ]:
df.loc[df['query'].isnull(),'result'] = df.loc[df['query'].isnull(),'path'].fillna('')# + '?' + df.loc[~df['query'].isnull(),'query'].fillna('')

In [ ]:
df

         type  ...                                             result
0       Valid  ...  /l_t@/_Feu1wvhtpass2/1nieQnnrvnzktuasain/tg1AR...
1       Valid  ...  /inssgtz7ieltdSstbw7e/neQhmsdwu7imdb0etet/eT/h...
2       Valid  ...                  /fonRnt/7N.D-4BRSsXb@TU/qgheW.cfm
3       Valid  ...  /dyylkL.XD9cPu/4Ot0ta/ts6xNrP1/hssh/a2cuerht/s...
4       Valid  ...  /2m6VLb1r37jSPC/cWVv/Mbar/oqrd0/msc/etceebwgi/...
...       ...  ...                                                ...
125971  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...
125972  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...
125973  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...
125974  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...
125975  Valid  ...  /tienda1/publico/registro.jsp?modo=registro&lo...

[125976 rows x 4 columns]

In [ ]:
df = df[['type','result']]

In [ ]:
df

         type                                             result
0       Valid  /l_t@/_Feu1wvhtpass2/1nieQnnrvnzktuasain/tg1AR...
1       Valid  /inssgtz7ieltdSstbw7e/neQhmsdwu7imdb0etet/eT/h...
2       Valid                  /fonRnt/7N.D-4BRSsXb@TU/qgheW.cfm
3       Valid  /dyylkL.XD9cPu/4Ot0ta/ts6xNrP1/hssh/a2cuerht/s...
4       Valid  /2m6VLb1r37jSPC/cWVv/Mbar/oqrd0/msc/etceebwgi/...
...       ...                                                ...
125971  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125972  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125973  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125974  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125975  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...

[125976 rows x 2 columns]

In [ ]:
df.rename(columns = {'result':'url'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df

         type                                                url
0       Valid  /l_t@/_Feu1wvhtpass2/1nieQnnrvnzktuasain/tg1AR...
1       Valid  /inssgtz7ieltdSstbw7e/neQhmsdwu7imdb0etet/eT/h...
2       Valid                  /fonRnt/7N.D-4BRSsXb@TU/qgheW.cfm
3       Valid  /dyylkL.XD9cPu/4Ot0ta/ts6xNrP1/hssh/a2cuerht/s...
4       Valid  /2m6VLb1r37jSPC/cWVv/Mbar/oqrd0/msc/etceebwgi/...
...       ...                                                ...
125971  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125972  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125973  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125974  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...
125975  Valid  /tienda1/publico/registro.jsp?modo=registro&lo...

[125976 rows x 2 columns]

In [ ]:
df.isnull().sum()

type    0
url     0
dtype: int64

In [ ]:
df.to_csv('stage.csv')

In [ ]:
!cp stage.csv "drive/My Drive/"